# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
pipeline_venv/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data and Models
**/data/*.parquet
**/data/*.csv
**/data/*.json
**/models/
**/saved_models/
*.joblib
*.pt
*.h5
*.pkl

# Results and Logs
**/results/
*.log
*.png
*.jpg
*.jpeg

# Environments and Secrets
.env
.vscode/
.idea/
