# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
pipeline_venv/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data and Models
**/data/*.parquet
**/data/*.csv
**/data/*.json
**/saved_models/
*.joblib
*.pt
*.h5
*.pkl
*.safetensors

# Results and Logs
**/results/
*.log

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.bmp
*.tiff

# Large Files & Documents
*.pdf
*.docx
*.doc
*.zip
*.tar.gz
*.7z
*.rar

# Environments and Secrets
.env
.vscode/
.idea/
